# Database
DATABASE_URL=postgresql://apmed:yourpassword@localhost:5432/stockpeek_dev

# Application
DEBUG=True
RATELIMIT_ENABLED=False
SECRET_KEY="yourdjangosecretkey"

# Redis
REDIS_URL=redis://localhost:6379/0
REDIS_CACHE_URL=redis://localhost:6379/1

# External APIs
TWELVE_DATA_API_KEY=yourtwelvedatapikey

# CORS
ALLOWED_ORIGINS=http://localhost:5173
ALLOWED_HOSTS=localhost,127.0.0.1
